.field-name-field-predefined-datacollections .form-type-checkbox,
.field-group-htabs-wrapper .form-type-checkboxes .form-type-checkbox,
.field-name-field-applications .form-checkboxes .form-type-checkbox {
  width: 33%;
  float:left;
  line-height: 35px;
}

.field-group-htabs-wrapper, .vertical-tabs {
	clear:both;
}

.bundle-default {
  background-color: #C8D9E8;
}

.bundle-custom {
  background-color: #C8E8C8;
}

.node-type-access-bundle .pane-entity-field .field-type-list-text .field-item, 
#cboxLoadedContent .pane-entity-field .field-type-list-text .field-item{
  float:left;
  width: 33%;
  line-height: 35px;
}

.node-type-access-bundle .pane-entity-field,
#cboxLoadedContent .pane-entity-field {
  clear: both;
}

.view-bundle-legend-header .views-row {
  float:left;
  padding-right: 20px;
}

.view-bundle-legend-header .views-row img {
  float: left;
  padding-right: 5px;
}

.view-filters {
  clear: both;
}