
.my-services-list {
  margin-top: 20px;
    padding: 0; 
}

.my-services-list .form-type-checkbox label {
    float: none;
    padding-top: 2px;
    margin-left: 6px; 
}

.my-services-list fieldset {
    display: block;
    background: #e5e9e0;
    border: 1px solid #F6F8F3;
    border-width: 1px 0 1px 0;
    min-height: 40px;
    position: relative; }
    .my-services-list fieldset.this-is-free-service legend a {
      color: #97bc00; 
}

.my-services-list legend {
    position: absolute;
    padding-top: 5px;
    top: 0;
    padding-left: 15px;
    height: 36px;
    background-color: #dae0d3;
    right: 0;
    left: 0;
    line-height: 27px;
    display: block;
    width: 100%; 
}

.my-services-list legend a {
      color: #565656; 
}

.my-services-list .fieldset-wrapper {
    display: none;
    border-width: 1px 0 1px 0;
    padding: 15px;
    padding-top: 50px;
}

.my-services-list fieldset {
    border: none;
    margin-bottom: 5px; 
}

.my-services-list legend {
    display: block;
    width: 100%;
    margin-bottom: 4px; 
}

.my-services-list legend a {
      display: block;
      padding: 6px 10px;
      color: #262626; 
}

.my-services-list > div > fieldset {
    border: none; 
}

.my-services-list > div > fieldset > legend {
      background-color: #cbd2c0;
      position: relative; 
}

.my-services-list > div > fieldset > legend a {
        font-weight: bold;
        font-size: 18px; 
}

.my-services-list > div > fieldset > legend::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background-image: url(../images/arrow-white.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px 40px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        pointer-events: none; 
}

.my-services-list > div > fieldset > .fieldset-wrapper {
      display: none; 
}

.my-services-list > div > fieldset > .fieldset-wrapper > fieldset {
        position: relative;
        background-color: #f1f3eb;
        border: 4px solid #b4bba4;
        min-height: 38px; 
}

.my-services-list > div > fieldset > .fieldset-wrapper > fieldset .response,
.my-services-list > div > fieldset > .fieldset-wrapper > fieldset .fieldset-wrapper {
          display: none; 
}

        .my-services-list > div > fieldset > .fieldset-wrapper > fieldset:not(.collapsed) .response,
        .my-services-list > div > fieldset > .fieldset-wrapper > fieldset:not(.collapsed) .fieldset-wrapper {
          display: block; }
        .my-services-list > div > fieldset > .fieldset-wrapper > fieldset.collapsed {
          border: none; }
        .my-services-list > div > fieldset > .fieldset-wrapper > fieldset .fieldset-wrapper {
          padding: 50px 10px 10px; }
        .my-services-list > div > fieldset > .fieldset-wrapper > fieldset > legend {
          position: absolute;
          top: 0; }
          .my-services-list > div > fieldset > .fieldset-wrapper > fieldset > legend::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 35px;
            background-image: url(../images/arrow-gray.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px 30px;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            pointer-events: none; }
          .my-services-list > div > fieldset > .fieldset-wrapper > fieldset > legend a {
            padding-right: 20px; }
    .my-services-list > div > fieldset > .fieldset-wrapper .collapsed > legend::after {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
  .my-services-list .collapsed > legend::after {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }