#subuser-popup-link {
  display: block;
  float: left;
  padding: 20px 5px;
}
#subuser-popup {
  display: block;
  margin: 20px 0px 20px 0px;
  padding-top: 5px;
  border-top: 1px solid;
}
#subuser-popup h2{
  margin: 10px 0px 10px 0px;
}
#subuser-popup .password-strength {
  display: none;
}
#subuser-popup div.password-confirm {
  display: none;
}
#subuser-popup #edit-user-expire label{
  display: none;
}
#subuser-popup #kms-subuser-insert-form-wrapper{
  padding: 5px;
  margin-bottom: 10px;
}

/* Taming ctools modal window form style: */
div.ctools-modal-content .form-item label {
  float: none !important;
  width: auto !important;
}
.container-inline-date .date-padding {
  float: none !important;
  padding: 0 !important;
}
div.ctools-modal-content .resizable-textarea {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: auto;
}
