.kms-oci-queue-jobs-overview {
  .kms-oci-queue-status-waiting {
    color: cornflowerblue;
  }
  .kms-oci-queue-status-processing {
    color: darkblue;
  }
  .kms-oci-queue-status-file-ready {
    color: hotpink;
  }
  .kms-oci-queue-status-done {
    color: green;
  }
  .kms-oci-queue-severity-error,
  .kms-oci-queue-status-failed {
    color: red;
  }
  tr.kms-oci-queue-job-log {
    display: none;
    border-style: none;
    table {
      border: 0;
      tr {
        background: transparent;
        border: 0;
        td {
          border: 0;
        }
      }
    }
  }
  td {
    border-bottom: 1px solid #bebfb9;
    &.job-log-trigger {
      padding-left: 25px;
      cursor: pointer;
      background: url(/misc/arrow-desc.png) no-repeat 5px 10px;
      &.active {
        background: url(/misc/arrow-asc.png) no-repeat 5px 10px;
      }
      &.loading {
        background: url(../images/ajax-loader.gif) no-repeat 5px 10px;
      }
    }
  }
}