/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

$link-color: #c2712b;

@mixin input-gradient {
  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjklIiBzdG9wLWNvbG9yPSIjZjRmNGY0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzklIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 9%, rgba(255,255,255,1) 79%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(9%,rgba(244,244,244,1)), color-stop(79%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 9%,rgba(255,255,255,1) 79%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 9%,rgba(255,255,255,1) 79%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 9%,rgba(255,255,255,1) 79%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 9%,rgba(255,255,255,1) 79%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

@mixin overlay-gradient {
  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(221,221,221,1) 22%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(22%,rgba(221,221,221,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(221,221,221,1) 22%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(221,221,221,1) 22%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(221,221,221,1) 22%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 1%,rgba(221,221,221,1) 22%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

@mixin close-btn {
  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEzJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(229,229,229,1) 13%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(13%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(229,229,229,1) 13%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(229,229,229,1) 13%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(229,229,229,1) 13%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 1%,rgba(229,229,229,1) 13%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

@mixin product-row {
  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 20%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(20%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 20%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 20%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 20%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 20%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-8 */
}

@mixin infobox {
  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(99%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 99%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-8 */
}

@mixin cart {
  background: rgb(222,227,209); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZTNkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmYyZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(222,227,209,1) 0%, rgba(239,242,231,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,227,209,1)), color-stop(100%,rgba(239,242,231,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(222,227,209,1) 0%,rgba(239,242,231,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(222,227,209,1) 0%,rgba(239,242,231,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(222,227,209,1) 0%,rgba(239,242,231,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(222,227,209,1) 0%,rgba(239,242,231,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee3d1', endColorstr='#eff2e7',GradientType=0 ); /* IE6-8 */
}

@mixin submit {
    background: rgb(242,242,242); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWY5ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(255,255,255,1) 12%, rgba(237,237,237,1) 91%, rgba(249,249,249,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(12%,rgba(255,255,255,1)), color-stop(91%,rgba(237,237,237,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 12%,rgba(237,237,237,1) 91%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 12%,rgba(237,237,237,1) 91%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 12%,rgba(237,237,237,1) 91%,rgba(249,249,249,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 12%,rgba(237,237,237,1) 91%,rgba(249,249,249,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-8 */
}

@mixin submit-hover {
  background: rgb(249,249,249); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjklIiBzdG9wLWNvbG9yPSIjZWRlZGVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODglIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(237,237,237,1) 9%, rgba(255,255,255,1) 88%, rgba(242,242,242,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(9%,rgba(237,237,237,1)), color-stop(88%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(237,237,237,1) 9%,rgba(255,255,255,1) 88%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(237,237,237,1) 9%,rgba(255,255,255,1) 88%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(237,237,237,1) 9%,rgba(255,255,255,1) 88%,rgba(242,242,242,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(237,237,237,1) 9%,rgba(255,255,255,1) 88%,rgba(242,242,242,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background: url("../images/body-bg.gif") repeat scroll 0 0 transparent;
  font: 75% Verdana,Geneva,sans-serif;
  min-width: 1160px;
}

#page {
  margin: 0 auto;
  width: 1160px;
  background: #fff;
  }

.panel-2col-stacked .panel-separator {
  margin: 0px;
}

a {
  color:$link-color;
  text-decoration:none;
  word-wrap:break-word;
}

a:hover {
 text-decoration:underline;
}

h1, .commerce-product-title {
  font-size: 16px;
  color: #333;
  border-bottom: 1px dotted #999;
  padding-bottom: 9px;
  margin-bottom: 9px;
}

.product-title h1 {
  font-size: 30px;
}

/* Main layout */

/* Top */
#mini-panel-top {
  background: url("../images/top-bg.gif") no-repeat scroll 633px top white;
  height: 123px;
  position: relative;
  #logo {
    img {
      float: left;
      padding: 0px 0px 0px 20px;
    }
  }

  .login-link {
    position: absolute;
    right: 38px;
    top:15px;
  }

  /* Main menu */
  .main-menu {
    clear: both;
    height: 29px;
    position: relative;
    padding-top: 17px;
    .pane-content {
      padding: 0 12px;
      background: none repeat scroll 0 0 #97BC00;
      height: 29px;
      li {
        float: left;
        a {
          background: url("../images/arrow-white.gif") no-repeat scroll 6px 10px transparent;
          display: inline-block;
          padding: 0px 10px 0px 19px;
          height: 29px;
          line-height: 27px;
          color: #FFFFFF;
          font-weight: bold;
          text-decoration: none;
        }

        a:hover, a.active {
          background: url("../images/arrow-black.gif") no-repeat scroll 6px 10px #E5E7DF;
          color: black;
        }
      }
    }
  }

  .menu-corner-right {
    .menu-corner {
      display: block;
      width: 13px;
      height: 35px;
      background: url(../images/menu_corner.png) no-repeat;
      position: absolute;
      right: -13px;
      bottom: -7px;
    }
  }

  .menu-corner-left {
    .menu-corner {
      display: block;
      background: url(../images/menu-corner-left.png) no-repeat;
      position: absolute;
      bottom: -7px;
      left: -13px;
      width: 13px;
      height: 35px;
    }
  }
}

/* Right sidebar */

.panel-2col-stacked {
  > .center-wrapper {
    > .panel-col-last {
      background: #eff2e8;
      width: 280px;
      border-bottom: 3px solid #d0d7c8;

      .inside {
        margin: 0px;

        .pane-content {
          padding: 15px;
        }
       .user-register .pane-content {
          ul {
            padding: 5px 0px;
            li {
              list-style: disc;
              margin-left: 15px;
              padding: 3px 0px;
            }
          }
        }
      }

      .panel-pane {
        position: relative;
        h2 {
          background: #cbd2c0;
          width: 260px;
          font: bold 1.67em/1 "Trebuchet MS",Arial,Helvetica,sans-serif;
          padding:10px;
          position: absolute;
          left: 0px;
          top:0px;
        }
      }

      .pane-content {
        position: relative;
        padding-top: 55px !important;
        h2 {
          position: absolute;
          top:0px;
          left: 0px;
        }
      }

      /* Login form */

      .pane-user-login {
        color: #333;
        h2 {
          color: #000;
        }
        .form-text {
          width: 95%;
        }

        .form-submit {
          margin: 7px 0px 0px 0px;
        }

        ul {
          li {
            display: inline-block;
          }
          .first {
            margin-right: 15px;
          }
        }

        .form-item {
          margin-bottom: 7px;
        }
      }

      /* Cart */

      .pane-commerce-cart-cart {

        .cart-contents {
          @include cart;
          padding: 0px 10px;
          @include border-radius(4px);

          td {
            background: url(../images/cart_separator.png) center bottom repeat-x;
            padding: 5px 0px;
          }
        }

        .view-footer {
          li {
            background: #fff;
            padding: 5px;
            @include border-radius(4px);
            @include infobox;
            border: 1px solid #D5D5D5;
          }
        }
      }
    }
  }
}

/* Main content */

.panel-1col-stacked {
  >.inner {
    width: 100%;
    > .inside {
      padding: 20px;
    }
  }
}

.panel-2col-stacked {
  > .center-wrapper {
    > .panel-col-first {
      width: 817px;
      padding: 20px;
    }
  }
}
.panel-1col-stacked .pane-page-title {
  margin-top: 6px;
}

/* Bottom */

.panel-col-bottom {
  padding-top: 5px;
  #mini-panel-bottom {
    padding: 9px 0px;
    border-top: 2px solid #ededed;
    margin-top: 5px;
    #zone-footer {
      padding: 0px 10px;
      color: #A4A4A4;
    }
  }
}

/* Product-list */

.node-type-product-listing {
  .product-list {

    .views-row {
      @include product-row;
      clear: both;
      overflow: auto;
      margin-bottom: 20px;
      border: 1px solid #d5d5d5;
      position: relative;
      .views-field-field-product-image {
        float: left;
        img {
          margin: 3px;
          margin-left: 4px;
          margin-top: 4px;
          border: 3px solid #fff;
        }
      }

      .views-field-body {
        .content {
          padding-left: 200px;
          padding-bottom: 30px;

          .title {
          margin-right: 20px;
          background: url(../images/product_separator.png) center bottom repeat-x;
          padding: 7px 0px;
          padding-top: 10px;
          margin-bottom: 7px;
            a {
              font-size: 24px;
              color: #686868;
            }
          }

          .body {
            a {
              color: #7a7a7a;
              font-size: 12px;
            }
          }
        }
      }
      .views-field-field-aktualitet {
        .info {
          position: absolute;
          right: 0px;
          bottom: 0px;
          padding: 5px 10px;
          @include infobox;
          @include border-top-left-radius(4px);
          border-top: 1px solid #D5D5D5;
          border-left: 1px solid #D5D5D5;
          height: 23px;
          line-height: 23px;
          color: #999;
          a {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.user-reset-page {
  padding: 20px;

  #edit-submit {
    margin-top: 10px;
  }
}

/* Product display */

.node-type-product-display {
  .product-type {
    color: #A4A4A4;
    * {
      display: inline-block;
      font-size: 13px;
      font-weight: normal;
    }

    .field {
      margin-right: 20px;
    }
  }

  .map-widget {
    float: left;
    padding-top: 10px;
  }

  .product-body {
    float: right;
    width: 320px;
    padding-left: 30px;
    padding-top: 15px;
    color: #676767;
  }

  .add-to-cart-btn {
    float: right;
  }

  .useful-links {
    clear: both;
    float: left;
    width: 460px;
    background: url(../images/linkicon.png) no-repeat left 0px;
    padding-left: 25px;
    .views-field {
      float:left;
      padding-right: 25px;
      .views-label {
        font-size: 10px;
      }
    }
    span {
	    float: left;
			margin-right: 20px;
    }
  }

  #selection_message {
    clear: both;
    padding-top: 10px;
    ul {
      li {
        padding: 5px 0px;
        background: url(../images/arrow_grey.png) no-repeat left center;
        padding-left: 15px;
        font-size: 11px;
        color: #8e8e8e;
      }
    }
  }

  .commerce-product-title {
    .commerce-product-title-label {
      display: none;
    }
  }

  .product-link {
    display: inline-block;
    float: right;
    margin: 0px 22px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .attribute-widgets {
    padding-bottom: 10px;
  }

  .commerce-add-to-cart {
    float: right;
    clear: both;
    .form-wrapper {
      display: none;
    }
    #edit-submit {
      margin-top: 10px;
    }
  }
}

/* Product view front */

.node-type-front {
  .products-front {
    .views-row {
      @include product-row;
      float: left;
      margin-right: 5px;
      width: 265px;
      border: 1px solid #D5D5D5;
      min-height: 242px;

      img {
        margin-left: 2px;
        margin-top: 2px;
      }

      .views-field-title {
        float: left;
        width: 233px;
        padding: 10px 0px;
        font-size: 14px;
        background: url("../images/product_separator.png") repeat-x scroll center bottom transparent;
        margin-left: 15px;
        margin-right: 15px;
        font-weight: normal;
        margin-bottom: 10px;
        a {
          color: #686868;
        }
      }

      .views-field-body {
        padding: 0px 14px;
        font-size: 12px;
        padding-bottom: 10px;
        a {
          color: #7A7A7A;
        }
      }

      .views-field-field-product-image {
        float: left;
      }
    }

    .view-footer {
      clear: both;
      a {
        float: right;
        font-size: 13px;
        margin-top: 15px;
        margin-right: 5px;
      }
    }

    .views-row-last {
      margin-right: 0px;
    }
  }
}

/* My downloads */

.view-grouping {
  caption {
    text-align: left;
    font-size: 11px;
    padding-bottom: 10px;
  }

  table {
    .downloads {
      a {
        background: url(../images/download.png) no-repeat;
        padding-left: 23px;
      }
    }
  }
  .view-grouping-header {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    background: url(../images/map.png) no-repeat;
    background-position: 0px 3px;
    padding-left: 23px;
    line-height: 21px;
    margin-bottom: 5px;
  }
}

/* Mapwidget */

.pane-kms-mapwidget-pane {
  #ajax_multistep_form .item-list {
	  background: #f4f4f3;
	  border: 1px solid #d7d7d7;
	  border-width: 1px 0 1px 0;
	  padding: 0px 10px;
	  margin-top: 10px;
	  margin-bottom: 20px;

	  ul { padding-left: 105px; }

	  li {
			background: #ffffff;
			color: #8a8a8a;
			padding: 10px 15px;
			margin-right: 17px;
			position: relative;

			&:after {
					border-top: 18px solid transparent;
					border-bottom: 18px solid transparent;
					border-left: 17px solid #ffffff;
					position: absolute;
					top: 0px;
					right: -17px;
			    content: "";
		  }

			&:before {
					border-top: 18px solid #ffffff;
					border-bottom: 17px solid #ffffff;
					border-left: 17px solid transparent;
					position: absolute;
					top: 0px;
					left: -17px;
			    content: "";
		  }
	  }

	  li.active {
			background: #97bc00;
			color: #ffffff;

				&:after { border-left: 17px solid #97bc00; }
				&:before {
					border-top: 18px solid #97bc00;
					border-bottom: 17px solid #97bc00;
					border-left: 17px solid transparent;
				}
	  }

	  li:first-child {
				&:before {
					border-left: 0px solid #97bc00;
					left: 0px;
		  }
	  }
  }

  #ajax_multistep_form h2 {
		font-size: 15px;
		color: #727272;
		font-weight: normal;
		border-bottom: 1px solid #cccccc;
		padding-bottom: 10px;
  	margin-bottom: 15px;
  }

  #ajax_multistep_form .form-item {
  	margin-bottom: 20px;
  }

  #ajax_multistep_form .selected-description {
  	color: #676767;
  	margin-bottom: 20px;
  }

  #ajax_multistep_form .form-item-clipping {
  	display: inline-block;
  	margin-right: 5px;
  	margin-bottom: 25px !important;
  }

  #ajax_multistep_form .form-item-buffer {
  	display: inline-block;
  	margin-right: 5px;
  	margin-bottom: 0px;

  	label {
			font-weight: normal;
			display: inline-block;
			margin-right: 15px;
  	}
  }

  #ajax_multistep_form label {
  	margin-bottom: 10px;
  }

  #ajax_multistep_form .form-type-checkbox {
  	margin-top: 14px;
  	margin-bottom: 14px;
  }

  #ajax_multistep_form .form-type-checkbox input {
  	margin-top: -2px;
  	margin-right: 5px;
  }

  #ajax_multistep_form #format-wrapper {
		width: 340px;
		margin-right: 75px;
		float: left;

		.form-item-dataformat { margin-bottom: 0px; }
		select { margin-right: 200px; margin-bottom: 20px; }
  }

  #ajax_multistep_form #koordinatsystem-wrapper {
                 width: 320px;
                 float: left;
		.form-item-koordinatsystem { margin-bottom: 0px; }
		select { margin-bottom: 20px; }

  #ajax-progress { display : none; }

  }

	#ajax_multistep_form .ajax-progress-throbber {
		display: none;
	}

  #ajax_multistep_form .select-desc-i {
		background: url("../images/map-info.png") no-repeat center center #97bc00;
		width: 18px;
		height: 16px;
		color: #ffffff;
		font-weight: bold;
		padding: 3px;
		margin-bottom: -6px;
		margin-left: 15px;
		cursor: pointer;
		display: inline-block;
		border-radius: 5em;
		-moz-border-radius: 5em;
		-webkit-border-radius: 5em;
	  transition: 0.3s;
	  -moz-transition: 0.3s;
	  -webkit-transition: 0.3s;
	  -o-transition: 0.3s;

		&:hover {
			background: url("../images/map-info.png") no-repeat center center #768e13;
		}
  }

  #ajax_multistep_form .form-wrapper {
  	clear: both;
  	height: 30px;
		border-top: 1px solid #cccccc;
		padding-top: 20px;
		margin-top: 30px;
		margin-bottom: 30px;

  	.button-back {
			background: url("../images/arrow-white-left.gif") no-repeat 10% 10px #333333;
			color: #ffffff;
			padding-left: 20px;
			padding-right: 10px;
			border: none;
			filter: none;
		  transition: 0.3s;
		  -moz-transition: 0.1s;
		  -webkit-transition: 0.1s;
		  -o-transition: 0.1s;

			&:hover { background: url("../images/arrow-white-left-hover.gif") no-repeat 10% 10px #555555; }
  	}

  	.button-next {
			background: url("../images/arrow-white.gif") no-repeat 90% 10px #97bc00;
			color: #ffffff;
			padding-right: 20px;
			border: none;
			float: right;
			filter: none;
		  transition: 0.1s;
		  -moz-transition: 0.1s;
		  -webkit-transition: 0.1s;
		  -o-transition: 0.1s;

			&:hover { background: url("../images/arrow-white-hover.gif") no-repeat 90% 10px #768e13; }
  	}

  	.button-submit {
			background: #97bc00;
			color: #ffffff;
			border: none;
			float: right;
			filter: none;
		  transition: 0.3s;
		  -moz-transition: 0.1s;
		  -webkit-transition: 0.1s;
		  -o-transition: 0.1s;

			&:hover { background: #768e13; }
  	}
  }

  .map-info-wrapper {
		background: #f4f4f3;
		min-height: 430px;
		margin-top: 30px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
  }

  .map-wrapper {
  	background: #ffffff;
  	float: left;
  	position: relative;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;

		  .ui-widget {
		  	background: #000;
		  	height: 30px;
		  	width: 18px;
		  	padding: 7px 4px 9px 2px;
		  	overflow: hidden;
		  	opacity: 0.8;
		    position: absolute;
		    top: 50px;
		    right: 0px;
		    z-index: 9999;
				border-radius: 3px 0px 0px 3px;
				-moz-border-radius: 3px 0px 0px 3px;
				-webkit-border-radius: 3px 0px 0px 3px;
			  transition: 0.3s;
			  -moz-transition: 0.3s;
			  -webkit-transition: 0.3s;
			  -o-transition: 0.3s;

		  	a.search {
		  		width: 18px;
		  		height: 18px;
		  		background:  url("../images/search.png") no-repeat;
		  		display: inline-block;
		  		cursor: pointer;
		  		margin: 8px 0 0 2px;
					float: left;
		  	}

		  	#geosearch {
		  		width: 165px;
		  		margin-top: 0px;
		  		position: absolute;
		  		left: 30px;
		  	}
		  }

		  .ui-widget.show-search {
		  	width: 210px;
		  	background-color: #a1c73a;
		  }

		  .baseLbl, .dataLbl {
				font-size: 12px;
				font-weight: normal;
				color: #353535;
				margin-bottom: 10px !important;
		  }

		  .baseLayersDiv span, .dataLayersDiv span {
				font-weight: normal;
				font-size: 12px;
				color: #353535;
				margin-bottom: 10px;
				display: inline-block;
		  }

		  .baseLayersDiv input, .dataLayersDiv input {
				vertical-align: top;
				margin-top: 1px;
		  }
  }

  .map-info-wrapper .product-body {
		width: 300px;
		line-height: 20px;
		padding-top: 25px;
		padding-bottom: 10px;
		float: none;
		display: inline-block;
  }

  .map-info-wrapper #selection_message {
		clear: none;
		width: 300px;
		color: #676767;
		padding-top: 25px;
		padding-left: 30px;
		float: left;
		display: inline-block;

		h3 {
		font-size: 13px;
		font-weight: normal;
		padding-bottom: 6px;
		margin-top: 25px;
		border-bottom: 1px solid #cccccc;
		}

		p { margin-bottom: 5px; clear: both; }

		ul {
			color: #676767;
			padding-top: 15px;
			padding-bottom: 15px;
			li {
				color: #676767;
			}
		}

		.value {
			color: #818080;
			width: 170px;
			float: right;
			margin-bottom: 5px;
		}
  }

  .map-info-wrapper .useful-links {
		clear: none;
		width: 300px;
		padding-bottom: 20px;
		margin-left: 30px;
		float: none;
		display: inline-block;
  }
}

div.messages.status {
	background: #eff2e8;
	color: #6d7561;
	font-size: 13px;
	display: inline-block;
	padding: 10px 15px;
	margin-bottom: 35px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;

  -moz-animation-name: fademeessage;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.7s;

  -webkit-animation-name: fademeessage;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.4s;

  em { font-weight: bold; color: #8c957f; }
}

@-moz-keyframes fademeessage {
    0% {
        background: #eff2e8;
    }
    50% {
       background: #cfd2c6;
    }
    100% {
       background: #eff2e8;
    }
}
@-webkit-keyframes fademeessage {
    0% {
        background: #eff2e8;
    }
    50% {
       background: #cfd2c6;
    }
    100% {
       background: #eff2e8;
    }
}

.commerce-line-item-actions .form-submit {
		background: #97bc00;
		color: #ffffff !important;
		border: none;
		float: right;
		filter: none;
	  transition: 0.3s;
	  -moz-transition: 0.1s;
	  -webkit-transition: 0.1s;
	  -o-transition: 0.1s;

		&:hover { background: #768e13; }
}

.file {
	display: inline-block;
	margin-bottom: 5px;

	a {	vertical-align: top;}

	.file-icon {
		background: url('../images/download.png') no-repeat;
		width: 16px;
		height: 16px;
		margin-right: 5px;
	}

}

span.file-size {
  font-size : 11px;
  vertical-align: top;
}

/* Forgot password */

#user-pass {
  .form-text {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  p {
    margin-bottom: 10px;
  }
}

/*Admin tabs */

.admin-tabs {
  position: fixed;
  top: 50%;
  bottom: 50%;
  z-index: 100;
  ul {
    background: #f5f5f5;
    padding-left: 15px;
    padding:10px;
    border: 1px solid #BEBEBE;
    @include border-right-radius(4px);

    a:hover {
      padding-left: 5px;
    }
  }
}

.not-logged-in .admin-tabs {
  display: none;
}

/* Forms */
#user-register-form, #user-profile-form {
  fieldset {
    legend {
      font-size: 14px;
      font-weight: bold;
      display: none;
    }
  }
  .form-item-field-terms-and-conditions-und {
  position: relative;
    .description {
      display: inline-block;
    }
  }

  #edit-field-address-und-0-first-name, #edit-field-address-und-0-postal-code {
    margin-right: 10px;
  }

  #edit-account {
    .form-item {
      margin: 5px 0px;
    }
  }

  #edit-submit {
    margin-top: 10px;
  }

  #field-user-type-info-add-more-wrapper {
    display: none;
  }
  #username {
    font-size: 20px;
    /* font-style: italic; */
  }
}

#user-profile-form {
  .form-item {
    margin: 5px 0px;
  }

  #edit-field-contact-me, #edit-field-newsletter {
    .form-item {
      margin: 0px;
    }
  }

  fieldset {
    legend {
      display: none;
    }
  }

  #edit-submit {
    margin-top: 10px;
  }
}

#commerce-checkout-form-login {
  legend {
    padding-bottom: 10px;
    span {
      font-weight: bold;
      font-size: 13px;
      color: #333;
    }
  }
  .fieldset-content {
    margin-top: 10px;
  }
  #edit-cancel {
    margin-right: 10px;
    float:left;
    background: linear-gradient(to bottom, #F2F2F2 0%, #FFFFFF 12%, #EDEDED 91%, #F9F9F9 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    padding: 4px 6px;
  }
}

input.form-text {
  @include border-radius(3px);
  height: 25px;
  @include input-gradient;
  padding: 0px 5px;
}

textarea.form-textarea {
  @include border-radius(3px);
  @include input-gradient;
  padding: 5px;
}

input.form-text:focus, textarea.form-textarea:focus {
  border: 1px solid #999;
}

input.form-submit {
  @include submit;
  @include border-radius(3px);
  border: none;
  height: 30px;
  line-height: 25px;
  padding: 0px 10px;
  border: 1px solid #cccccc;
  color: #3e3e3e;
  padding-bottom: 2px;
  margin: 0px 3px;
}

input.form-submit:hover {
  @include submit-hover;
  color: #212121;
}

/* Status messages */
div.messages, tr.error {
  @include border-radius(3px);
  padding: 5px;
  color: #333 !important;
  margin-bottom: 15px;
}

/* Overlay */

#terms_and_conditions {
  background: #fff;
  width: 700px;
  @include border-radius(5px);
  @include single-box-shadow;
  padding: 10px;
  @include overlay-gradient;
  min-height: 150px;
  border: 1px solid #e0e0e0;
  position: relative;
  color: #333;

  a.close {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 4px 10px;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    @include border-top-left-radius(5px);
    @include close-btn;
  }
}

a#terms_conditions {
  overflow: hidden;
  text-indent: -100px;
  width: 16px;
  height: 16px;
  background: url(../images/questionmark.png) no-repeat;
  position: absolute;
  top:0px;
  left: 365px;
}

/* Ajax progress */
.view-filters {
  border-bottom: 1px dotted #999;
  padding-bottom: 10px;
  margin-bottom: 20px;
  .views-submit-button {
    position: relative;

    float: left;

    .form-submit {
      margin-top: 10px;
    }

    .ajax-progress-throbber {
      background: url(../images/loader.gif) no-repeat;
      width: 16px;
      height: 16px;
      position: absolute;
      top:25px;
      right: 0px;
    }
  }
}

/* Pager */

.pager {
  li {
    margin-right: 10px;
  }
}

/* mydownloads */

table.mydownloads {

  border: 1px solid #cecece;

  thead th {
    @include infobox;
  }

  thead th, td {
    padding: 10px 5px;
    text-align: left;
    color: #565656;
    vertical-align: top;
  }

  .order-first-line, .line-item-specific {
    border-top: 1px solid #cecece;
  }

  .order-first-line, .order-nth-line {
    background: #fafafa;
  }

  .line-item-specific {
    color: #565656;
    line-height : 14px;
  }

  div.time-remaining { margin-bottom : 5px; }

  div.product-details { padding-top : 4px; font-size:11px;}

}

/* Shopping cart */

.page-cart, .page-checkout {

  table {
    border: 1px solid #cecece;
  }

  thead th {
    @include infobox;
  }

  thead th, td {
    padding: 10px;
    text-align: left;
  }

  a:hover { text-decoration:none; }

  .cart-add-more {
    @include border-radius(3px);
    background-color: #333333;
    padding: 7px 10px;
    color : #FFFFFF;
    position : absolute;
    filter: none;
    transition: 0.3s;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    &:hover { background-color: #555555; }
  }

}

.page-checkout {
  #commerce-checkout-form-checkout {
    #edit-cart-contents {
      legend {
        margin-bottom: 10px;
      }
    }

    div.fieldset-content {
      margin-top: 15px;
    }
  }

  .checkout-buttons {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #CECECE;
  }

  #edit-continue {
    margin-right: 30px;
  }

  #edit-back {
    background: url(../images/back.png) no-repeat right center;
    padding: 0px 20px;
    color: inherit;
    border: none;
  }
}

// Geosearch field

#geosearch {
  margin-top: 15px;
  @include border-radius(3px);
  height: 30px;
  line-height: 25px;
  border: 1px solid #cccccc;
  float: left;
  padding: 0px 5px;
  width: 447px;
}

.ui-autocomplete.ui-menu {
  @include border-radius(3px);
  border: 1px solid #cccccc;
  .ui-menu-item {
    a {
      font-size: 12px;
    }
    a.ui-state-hover {
      @include submit;
      border: 1px solid #CCCCCC;
      color: #333;
    }
  }
}


// Map icon styles

ul.controlToggle {
	position: absolute;
	z-index: 1000;
	top: 180px;
	right: 0px;
		li a {
		overflow: hidden;
		display: block;
		height: 24px;
		width: 24px;
		margin-bottom: 3px;
		}
		li a:hover {
		transition: .2s;
	  -moz-transition: .2s; /* Firefox 4 */
	  -webkit-transition: .2s; /* Safari and Chrome */
	  -o-transition: .2s; /* Opera */
	  }
		li.drag a {
		background: url(../images/move.png) no-repeat;
		&:hover {
			background: url(../images/move-hover.png) no-repeat;
		}
	}
	li.drag a.active {
		background: url(../images/move-hover.png) no-repeat;
	}
	li.select a {
		background: url(../images/arrow.png) no-repeat;
		&:hover {
			background: url(../images/arrow-hover.png) no-repeat;
		}
	}
	li.select a.active {
		background: url(../images/arrow-hover.png) no-repeat;
	}
	li.rect a {
		background: url(../images/single-selection.png) no-repeat;
		&:hover {
			background: url(../images/ss-hover.png) no-repeat;
		}
	}
	li.rect a.active {
		background: url(../images/ss-hover.png) no-repeat;
	}
	li.reset a {
		background: url(../images/clear.png) no-repeat;
	}
}
.clear-fix {
	clear: both;
}
.olControlLayerSwitcher {
	color: #000;
	width: auto;
	max-width: 300px;
	background-color: #a1c73a!important;
	top: 96px!important;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	opacity: 0.9;
	.maximizeDiv {
		top: 0px;
		img:hover {
			background: url(../images/layer-switcher-maximize-hover.png) no-repeat;
			z-index: 99999;
		}
	}
	.minimizeDiv {
	}
	span {
		background-color: #a1c73a!important;
		.labelSpan {
			margin-bottom: 10px;
		}
	}
	.layersDiv {
		background-color: #a1c73a!important;
		opacity: 1!important;
		.baseLayersDiv {
			cursor: pointer;
			line-height: 1.9em!important;
		}
		input {
			margin-right: 10px;
		}
	}
}

.node-type-partner-list, .node-type-partner {
  .page-column {
    float: left;
    width: 46%;
    line-height: 21px;
    margin-bottom: 25px;
    &.first {
      margin-right: 4%;
    }
  }
}
.node-type-partner-list {
  .partner-list {
    clear: both;
    padding-top:35px;
    border-top: 1px dotted #999999;
    overflow: auto;
    .views-row {
      float: left;
      width: 260px;
      background: #fafafa;
      border-left: 1px solid #e6e7e4;
      border-right: 1px solid #e6e7e4;
      border-bottom: 3px solid #dbe8a4;
      margin: 0px 9px 20px 9px;
      .views-field-nothing {
        .content {
          padding: 20px 15px;
        }
        .logo {
          width: 100%;
          height: 25px;
          text-align: center;
          padding-bottom: 20px;
          border-bottom: 1px solid #e6e7e4;
          margin-bottom: 20px;
          img {
            width: auto;
            height: 25px;
          }
        }
        .text {
          color: #787878;
          line-height: 19px;
        }
        .read-more {
          padding-top:20px;
          text-align: center;
          a {
            display: inline-block;
            background: #97bc00;
            color: #fff;
            font-size: 12px;
            font-weight:bold;
            padding: 8px 10px;
            @include border-radius(3px);
          }
        }
      }
    }
    .views-row:hover .read-more a {
      text-decoration: underline;
    }
  }
}

.node-type-partner {
  .partner-topimg {
    padding-bottom: 15px;
  }
  .partner-logo {
    padding-bottom: 25px;
  }
  .partner-images-middle {
      border-top: 1px dotted #999999;
      clear: both;
      padding-top: 20px;
      overflow: auto;
      padding-bottom: 20px;
      .field-item {
        float: left;
        margin: 0px 11px 20px 11px;
      }
  }
  .partner-cases-references {
    padding-bottom: 20px;
    overflow: auto;
    clear: both;
    .field-item {
      width: 235px;
      float: left;
      margin: 0px 25px;
      line-height: 21px;
      color: #787878;
      margin-bottom: 20px;
      h2 {
        font-size: 15px;
        font-weight: normal;
        padding-bottom: 10px;
        padding-top: 10px;
      }
    }
    .field-item:first-child{
      margin-left: 0px;
    }
  }
  .partner-contact {
    clear: both;
    line-height: 21px;
    color: #787878;
  }
  .panel-pane > h2.pane-title {
    font-size: 16px;
    color: #333;
    border-bottom: 1px dotted #999999;
    padding-bottom: 9px;
    margin-bottom: 9px;
  }
}
